# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/skp-management-backend-prototype/node_modules
/skp-management-app-prototype/node_modules
/skp-management-app-prototype/.pnp
/skp-management-app-prototype/.pnp.js

# testing
/skp-management-app-prototype/coverage

# production
/skp-management-app-prototype/build

# misc
/skp-management-app-prototype/.DS_Store
/skp-management-app-prototype/.env.local
/skp-management-app-prototype/.env.development.local
/skp-management-app-prototype/.env.test.local
/skp-management-app-prototype/.env.production.local

/skp-management-app-prototype/npm-debug.log*
/skp-management-app-prototype/yarn-debug.log*
/skp-management-app-prototype/yarn-error.log*

/skp-management-backend-prototype/.DS_Store
/skp-management-backend-prototype/.env.local
/skp-management-backend-prototype/.env.development.local
/skp-management-backend-prototype/.env.test.local
/skp-management-backend-prototype/.env.production.local

/skp-management-backend-prototype/npm-debug.log*
/skp-management-backend-prototype/yarn-debug.log*
/skp-management-backend-prototype/yarn-error.log*
